html {
    user-select: none;
}
main  {
    margin-top:50px;
}

header {
    width:100%;
    justify-content: center;
}

header * {
    padding-right:25px;
    padding-left:25px;
}

.uiBubble {
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border:solid black 1px;
    border-radius: 10px;
    align-content: center;
}


button {
    padding: 10px;
    font-size:20pt;
    border: 1px grey solid;
    border-radius: 10px;
}

.flex-center {
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.flex {
    display:flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.day{
    padding:15px;
    background-color: rgb(183, 183, 183);
    margin: 5px;
    border-radius: 10px;
}

.dummyday {
    padding:15px;
    background-color: rgb(240,240,240);
    margin: 5px;
    border-radius: 10px;
}

aside {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 30pt;
    margin-left:20px;
    width: 205px;
}


#calendar {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

#calendar-top {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    font-size:25pt;
}

#calendar-parent  {
    padding-top: 5px;
}

#timer{
    margin-bottom: 10px;
    font-size:50pt;
}

.underline {
    width: 100%;
    border-bottom: 1px solid black;
}

.centered {
    text-align: center;
}

.sideTitle {
    font-size:20pt;
    width:100%;
}

.fg-darkgreen {
    color:green;
}

.fg-lightgreen {
    color:limegreen;
}

.fg-darkred {
    color:darkred;
}

.fg-lightred {
    color:rgb(255, 0, 0);
}

.bg-darkgreen {
    background-color:green;
}

.bg-lightgreen {
    background-color:limegreen;
}

.bg-darkred {
    background-color:darkred;
}

.bg-lightred {
    background-color:rgb(255, 0, 0);
}

.border-blue {
    outline:2px solid aqua;
}

.border-green {
    outline: 2px solid green;
}

.border-red {
    outline: 2px solid darkred;
}

p{
    padding:0;
    margin: 10px 0;
}

.minitext {
    font-size:15pt;
    padding:0;
    margin:0;
}

.notbold {
    font-weight: normal;
}

a {
    padding: 0 5px;
    border-radius: 10px;
}

button:hover, a:hover {
    background-color: rgb(200, 200, 200);
}

button:active, a:active {
    background-color: white;
}

textarea {
    width:auto;
    margin: 10px 20px;
    resize:none
}

.full-width {
    width:660px;
    margin: 20px auto;
}

.hidden {
    display:none;
}

#stats > div.underline {
    font-size:40pt;
}

#statsDisplay {
    font-size: 20pt;
}